*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/pinsound/*
/app/src/androidTest/assets/pinsound/*
/app/src/main/assets/www/*