:root{
	--color-primary : #852626 ;
 	--color-primary-variant : #732121 ;
	--color-primary-dark : #5E1A1A ;
	--color-on-primary : #BCBCBC ;
	--color-secondary : #C23535 ;
	--color-secondary-variant : #A52F2F ;
	--color-on-secondary : #BCBCBC ;
	--color-surface : #1E1E1E ;
	--color-on-background : #1E1E1E ;
	--color-on-surface : #BCBCBC;
	--color-on-surface-variant : #272727 ;
	--text-color-primary : #BCBCBC ;
	--text-color-secondary : #787878;
	--text-color-note : #808080;
}