<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools = "http://schemas.android.com/tools"
    package="com.yingenus.pocketchinese">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.yingenus.pocketchinese.PocketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:banner="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketChinese"
        >
        <activity
            android:theme="@style/Theme.PocketChinese.NoActionBar"
            android:name="com.yingenus.pocketchinese.presentation.views.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.stydylist.StudyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.NoActionBar"/>
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.addword.AddWordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.NoActionBar.NoStatusBar"/>
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.train.TrainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.creteeditword.CreateWordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.creteeditword.EditWordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.userlist.RepeatableUserListsActivity"
            android:parentActivityName="com.yingenus.pocketchinese.presentation.views.MainActivity"
            android:theme="@style/Theme.PocketChinese.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.suggestist.SuggestWordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.NoActionBar.NoStatusBar"
            />
        <activity
            android:name="com.yingenus.pocketchinese.view.activity.ActivateInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.Default.NoActionBar.NoStatusBar"
            />
        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.Default.NoActionBar"
            />

        <activity
            android:name="com.yingenus.pocketchinese.presentation.views.grammar.GrammarCaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PocketChinese.PrimaryStatusBar.NoActionBar"
            />

        <service
            android:name="com.yingenus.pocketchinese.view.keyboard.PinyinPocketInputMethodService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove">
        </provider>
    </application>


</manifest>